<!DOCTYPE html>
<html>

<head>
    <title>VoiceForge v2</title>
</head>

<body>
    <h2>Text to Speech</h2>

    <textarea id="text" rows="4" cols="50">
Hello Vimal, VoiceForge version two is alive!
  </textarea><br><br>

    <button onclick="convert()">Convert</button><br><br>

    <audio id="audio" controls></audio>

    <script>
        async function convert() {
            const text = document.getElementById("text").value;

            const form = new FormData();
            form.append("text", text);
            form.append("voice", "default");

            const response = await fetch("http://127.0.0.1:8000/tts/convert", {
                method: "POST",
                body: form
            });

            const blob = await response.blob();
            document.getElementById("audio").src = URL.createObjectURL(blob);
        }
    </script>
</body>

</html>